* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}


/* verify the age of a customer */
#verifyHome {
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
  background: radial-gradient(circle,rgba(242, 242, 242, 1) 0%, rgba(232, 232, 232, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#verifyHome h1 {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 600;
  color: #6E260E;
}

#verificationCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.verifyInfo {
  padding: 16px;
}

#verficationCard h2 {
  font-weight: 400;
}


#confirm {
  background-color: #6E260E;
  color: white;
  padding: 16px 64px;
  border: none;
}