* {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}


/* verify the age of a customer */
#verifyHome {
  width: 100%;
  height: 100vh; 
  background: #f2f2f2;
  background: radial-gradient(circle,rgba(242, 242, 242, 1) 0%, rgba(232, 232, 232, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#verifyHome h1 {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 600;
  color: #6E260E;
}

#verificationCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.verifyInfo {
  padding: 16px;
}


#verifyForm input {
  padding: 16px 32px;
  margin: 4px;
  min-width: 75px;
  border: none;
}


#verficationCard h2 {
  font-weight: 400;
}


#confirm {
  background-color: #6E260E;
  color: white;
  padding: 16px 64px;
  border: none;
}

/* home page */

.logo {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 600;
  color: #6E260E;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 32px;
  background-color: white;
}

.navigation {
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  display: flex;
}

.navigation li {
  display: inline-flex;
  list-style-type: none;
}

#homeBanner {
  background-image: radial-gradient(circle,hsla(0, 0%, 100%, 0.227) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%), url('./assets/whiskeyhome.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  z-index: -1;
}

#homeRight {
  grid-column: 3;
  width: 100%;
  height: 100%;
  color: white;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 124px;
}

#homeRightText h1 {
  font-family: 'Lora', serif;
  font-size: 48px;
}

#homeRightText hr {
  width: 10%;
  margin: 16px auto;
}

#homeRightText button {
  margin: 16px auto;
  font-family: 'Lora', serif;
  background-color: #6E260E;
  color: white;
  padding: 16px 64px;
  border: none;
}

#mainContent {
  height: 1%;
  width: 100%;
}

#video {
  width: 100%;
  height: 100vh;
}

#video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#appHome {
  width: 100%;
  position: relative;
}

.contentMidContainer {
  width: 100%;
  height: 200px;
  background-color: blue;
}

section img {
  width: 400px;
  height: 400px;
}

